*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1623;
    overflow: hidden;
}

section .text{
    position: relative;
    font-size: 5em;
    text-align: center;
    color: #00fe77;
    -webkit-box-reflect: below -0.46em linear-gradient(transparent,#0004);
}

section .text span{
    position: relative;
    display: inline-block;
}